@page
@model SecretMessagesWeb.Pages.ReadMessagesModel
@{
}

<h3>Your unread messages:</h3>

@{
    if (Model.NewMessages.Count > 0)
    {
        foreach (var item in Model.NewMessages)
        {
            <p><strong>From: </strong>@item.UserName</p>
            <p><strong>Message: </strong>@item.Message</p>
            <br />
        }
    }
    else
    {
        <p>No new messages.</p>
    }
}

<a asp-page="/UserDashboard">Back to main menu</a>