@page
@model SecretMessagesWeb.Pages.SendMessageModel
@{
}

<h2>Send a new message, @Model.UserId:</h2>

<form method="post" asp-page="/MessageSent">
    <div class="form-group">
        <label asp-for="ToUserName">To: </label>
        <br />
        <input type="text" asp-for="ToUserName" width="200" />
    </div>
    <div class="form-group">
        <label asp-for="Message">Message: </label>
        <br />
        <textarea asp-for="Message" rows="3"></textarea>
    </div>
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <button type="submit" class="btn btn-primary">Send</button>
</form>