@page
@model SecretMessagesWeb.Pages.SignUpCompleteModel
@{
}


@{ 
    if (Model.WasSignupSuccessful == true)
    {
        <p>Successfully created account!</p>
        <a asp-page="/Index">Go to login page</a>
    }
    else
    {
        <p>@Model.ErrorMessage</p>
        <a asp-page="/SignUp">Try again</a>
    }
}