@page
@model SecretMessagesWeb.Pages.UserDashboardModel
@{
}

<div class="text-center">
    <h3>Hello, @Model.UserName!</h3>
    <br />
    <p><a href="/ReadMessages">Read new messages</a></p>

    <p><a href="/SendMessage">Send a message</a></p>

</div>